<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dictionary.Properties.Settings.dictionaryConnectionString"
            connectionString="Data Source=王璐-VAIO\SQLEXPRESS;Initial Catalog=dictionary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>